body {
  background: no-repeat url("./assets/blue-clouds-day-fluffy-53594.jpeg");
  height: 100vh;
}

main {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, 1fr);
}

header {
  display: flex;
  background-color: rgb(40, 40, 40);
  align-items: center;
  height: 100px;
  gap: 50px;
  justify-content: center;
}

.input-container {
  display: flex;
}

input {
  width: 400px;
}

#btn-submit {
  height: 30px;
  background-color: rgb(224, 155, 27);
  border: none;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  width: 100px;
}

.temp-btn {
  padding: 5px 50px;
  font-size: 16px;
}

.error {
  display: block;
  width: 100%;
  padding: 0;
  visibility: hidden;
  font-size: 80%;
  color: red;
  font-weight: bold;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3rem;
}

#output {
  width: 50%;
  justify-self: center;
  margin: auto;
}

.currentUnit {
  font-size: 20px;
  font-weight: bold;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.condition-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-icon {
  width: 60px;
}

.temperature-value {
  font-size: 60px;
}

.temperature-unit {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
}

.weather-details {
  border-left: 2px solid white;
  padding: 10px 20px;
  font-weight: bold;
}
